.membership{
    border-width: 1px;
    border-color: #d3d4d5;
    border-style: solid;
    box-shadow: 0 0.5625rem 1.625rem rgba(0, 0, 0, 0.125);
}
.membership:hover {
    transform: scale(1.03); 
    transition: transform 0.4s ease;
  }

.divider{
    border-bottom: 1px solid #d3d4d5;
}